@font-face {
    font-family: 'GilroyBold';
    src: url('./font/FontsFree-Net-Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GilroyHeavy';
    src: url('./font/FontsFree-Net-Gilroy-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'GilroyRegular';
    src: url('./font/FontsFree-Net-Gilroy2.ttf') format('truetype');
}

.heading{
    display: flex;
    padding-top: 40px;
    justify-content: center;
}
.heading_h{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
.h_tag{
    /* background-color: #FFDB5E; */
    display: flex;
    font-family:'GilroyBold';
    justify-content: center;
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;

}

.h_tag2{
    color: white;
    font-family:'GilroyHeavy';
    font-size: 73px;
    width: 67%;
    /* width: 1018px; */
    text-align: center;
}

.AI{
    display: flex;
    justify-content: center;
}
.hours{
    color: white;
    font-family: 'GilroyRegular';
    width: 67%;
    font-size: 25px;
}

.image-container {
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    /* width: 100%;
    height: 300px; */
}

.overlay-image {
    position: absolute;
    width: 70%;
    height: auto;
    /* object-fit: cover; */
    z-index: 1;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Background matching the circuit theme */
    position: relative;
    padding-top: 120px;
    clip-path: polygon(30% 40%, 150% 80%, 0% 78%);
}